* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  background: #e5e5e5;
}

main {
  padding: 36px;
}

.nav {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  justify-content: space-between;
  padding: 20px;
}

.navImg {
  height: 1.75rem;
  width: 11rem;
  margin-left: 3rem;
}

.navTitle {
  color: white;
  margin-right: 3rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.memeContainer {
  margin: 2.5rem 2.5rem 0 2.5rem;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 1.5rem;
  height: 2.25rem;
  font-family: 'Karla', sans-serif;
}

.formInput {
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 8px;
}

.getNewImageButton {
  grid-column: 1 / -1;
  font-family: 'Karla';
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.buttonImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.memeImage {
  max-width: 75%;
  border-radius: 3px;
}

.memeText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
